*__init__.py
*.pyc
*.pdf
*.png
*~
ALL_Pi0Gun*/
LSFJOB*/
pi0data*/
HLTmodified*/
HLTunmodified*/
parameters_mycopy.py
*.o

FillEpsilonPlot/data/Cert_271036-274443_13TeV_PromptReco_Collisions16_JSON.txt
FillEpsilonPlot/data/Cert_274240-274421_13TeV_PromptReco_Collisions16_JSON.txt
FillEpsilonPlot/data/myjson_file_run271342.txt
submit/AfterCalibTools/PlotMaker/2DmapMaker/histoManager.h
submit/AfterCalibTools/PlotMaker/2DmapMaker/main
submit/AfterCalibTools/TestConvergence/Convergence_AlcaP0_2016_json2p07fb.log
submit/AfterCalibTools/TestConvergence/Convergence_AlcaP0_2016_json3p99fb_V2ext.log
submit/AfterCalibTools/TestConvergence/Convergence_AlcaP0_fromRun273158_2016_v2.log
submit/AfterCalibTools/TestConvergence/Convergence_C.d
submit/AfterCalibTools/TestConvergence/Convergence_C.so
submit/AfterCalibTools/TestConvergence/Convergence_C_ACLiC_dict_rdict.pcm
submit/AfterCalibTools/TestConvergence/Convergence_pi0data_2015.log
submit/AfterCalibTools/TestConvergence/plot_AlcaP0_2016_json2p07fb/
submit/AfterCalibTools/TestConvergence/plot_AlcaP0_2016_json2p07fb_backup/
submit/AfterCalibTools/TestConvergence/plot_AlcaP0_2016_json3p99fb_V2ext/
submit/AfterCalibTools/TestConvergence/plot_AlcaP0_fromRun273158_2016_v2/
submit/AfterCalibTools/TestConvergence/plot_pi0data_2015/
submit/AfterCalibTools/TestConvergence/plot_plot_AlcaP0_fromRun273158_2016_v2/
submit/AlcaP0_2016_json2p07fb/
submit/AlcaP0_2016_json2p07fb_debug/
submit/AlcaP0_2016_json2p07fb_debug_v2/
submit/AlcaP0_2016_json2p07fb_debug_v3/
submit/AlcaP0_2016_json2p07minus0p8fb/
submit/AlcaP0_fromRun273158_2016/
submit/AlcaP0_fromRun273158_2016_v2/
submit/InputList/2016B_2p6fb_Purified.list
submit/InputList/2016B_AlcaP0_2016_json2p07fb_RAW.list
submit/InputList/2016B_AlcaP0_2016_json2p07fb_RAW_purified.list
submit/InputList/2016B_AlcaP0_All_06June2016_RAW.list
submit/InputList/2016B_AlcaP0_fromRun273158_06June2016_RAW.list
submit/InputList/2016B_AlcaP0_fromRun273158_06June2016_RAW_purified.list
submit/InputList/2016B_AlcaP0_json2p07minus0p8fb_RAW_purified.list
submit/Utilities/tmp.txt
submit/myTests/
submit/rootTests/
submit/test_1eosfile.list
