*__init__.py
*.pyc
*.pdf
*.png
*~
*.d
*.so
*.pcm
LSFJOB*/
*.o

FillEpsilonPlot/data/Cert*JSON.txt
submit/AfterCalibTools/PlotMaker/2DmapMaker/histoManager.h
submit/AfterCalibTools/PlotMaker/2DmapMaker/main
submit/AfterCalibTools/TestConvergence/*.log
submit/AfterCalibTools/TestConvergence/plot_*
submit/AlcaP0*
submit/pi0data*
submit/HLT*
#submit/InputList/*
submit/myTests/
submit/rootTests/
